.reservationTitle {
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    font-weight: normal;
    font-size: 100px;
    display: block;
    margin-bottom: 0;
    color: #c8a97e;
    line-height: 1;
    font-family: "Brush Script MT", cursive;
    margin-top: 0;
  }
  .resbg{
    background-size: cover;
    background-attachment: fixed;
  }
  